body {
    background-color:lightpink;
    text-align: center;
    font-family: fantasy, sans-serif;
    text-size-adjust: 80;
    color: #41045e;
}
h1 {
    text-align: right;
    text-shadow: 0cap;
    text-size-adjust: 60;
    color:rgb(252, 51, 158)

}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

