body {
    background-color:lightpink;
    text-align: center;
    color:crimson
    font-family: fantasy, sans-serif;
    text-size-adjust: 80;
}
h1 {
    text-align: right;
    text-shadow: 0cap;
    text-size-adjust: 60;
    color:rgb(252, 51, 158)

}

